<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @secret.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @secret.body %>
</p>

<p>
  <strong>Author:</strong>
  <% if signed_in_user? %>
    <%= @secret.author.name %>
  <% else %>
    **hidden**
  <% end %>
</p>

<% if @secret.author == current_user %>
  <%= link_to 'Edit', edit_secret_path(@secret) %> |
<% end %>
<%= link_to 'Back', secrets_path %>
